<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login com Python!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    

<div class="center">

    <form action="/signin" method="post">

        <h3>Faça login na sua conta!</h3>

        <table>

            <tr>
                <td><label for="username">Usuário: </label></td>
                <td><input type="text" name="username" id="" placeholder="Digite seu nome de usuário: " Required></td>
            </tr>
            
            <tr>
                <td><label for="password">Senha: </label></td>
                <td><input type="password" name="password" id="" placeholder="Digite sua senha: " Required></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Login</button></td>
            </tr>

        </table>

    </form>

</div>


<!--
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">

            <strong>Message: </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <h3>Bem vindo ao meu sistema de login!</h3>

    {% if user.is_authenticated %}
        <h3>Bem vindo {{ fname }}</h3>
        <h3>Logado com sucesso!</h3>
        <button type="submit"><a href="/signout">Signout</a></button>
    {% else %}
        <button type="submit"><a href="/signin">Signin</a></button>
        <button type="submit"><a href="/signup">Signup</a></button>
    {% endif %}

-->

</body>
</html>