<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar-se!</title>
</head>
<body>
    
    <h4></h4>


        <form action="/signin" method="post">
            {% csrf_token %}
                <label for="username">Usuário: </label>
                <input type="text" name="username" id="" placeholder="Digite seu nome de usuário: " Required>
                    <br>
                <label for="password">Senha: </label>
                <input type="password" name="password" id="" placeholder="Digite sua senha: " Required>
                    <br>
                <button type="submit">Login</button>

        </form>

</body>
</html>